/* styles.css */
/************************************************/
/*  CSS for the Company and Freelance tab       */
/*                                              */
/************************************************/

/* Style the tab */

  
  /* Style the buttons inside the tab */
  .container {
    width: 90%;
    max-width: 600px;
    margin-left: 180px;
   
}

  .tab button{
    background-color: grey;
    float: left;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 10px;
  }

  .infoContainer {
    width: 1000px;
    min-height: 500px;
    background-color: rgba(247, 247, 247, 0.897);
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 46px;
    margin-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.companyContainer {
  width: 900px;
  height: 100px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 20px;
}

  .tab button:hover {
    background-color: #ddd;
  }

.company {
    background-color: #ddd4d4;
    width:fit-content;
    padding: 5px;
    border-radius: 5px solid black;  
    margin-left: 10px; 
    margin-top:5px;
  }

.companyTag {
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;  
    margin-left: 10px; 
    margin-top: 15px;
  }

  .companyTags {
    display: flex;
    gap: 10px;
  }
  .see-more-button{
    display: inline-block;
    padding: 0px 5px;
    background-color: #c93232;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #000;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 5px;
}

/* Style the price badges */
.price-badge-container {
  display:inline-block;
}  
.price-badge {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
/* Style the top right stars */
.profile-header-right {
  display: flex;
  align-items: center;
  margin-left: 440px;
  font-size: 20px;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.profile-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.profile-bottom-right {
  display: flex;
  align-items: center;
}

.see-more-button-company{
  display: inline-block;
  background-color: #df4747;
  color: white;
  border-radius: 10px;
  border: 2px solid #000;
  font-weight: bold;
  margin-top: 5px;
}



  

  
